body {
  background-color: rgba(153, 255, 1, 0.431);
}
.contains {
  border: 1px solid pink;
  box-shadow: 2px 2px 4px rgba(203, 29, 160, 0.2);
  padding: 20px;
  margin: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.flex {
  display: flex;
  gap: 20px;
}
.title {
  color: rgb(226, 93, 115);
}
img {
  border: 1px solid rgb(11, 116, 13);
  box-shadow: 2px 2px 4px rgba(203, 29, 160, 0.2);
}
.des {
  color: darkmagenta;
}
.author {
  color: rgb(227, 142, 156);
}
